*
!.git
!.gitignore
!make.sh
!anaconda-installer
!anaconda-installer/**/*
!anaconda-config
!anaconda-config/**/*
!hyprland-config
!hyprland-config/**/*
!base
!base/**/*
!filesystem
!filesystem/**/*
!fakeroot
!fakeroot/**/*
!lsb-release
!lsb-release/**/*
!ckbcomp
!ckbcomp/**/*
!urlgrabber
!urlgrabber/**/*
*.pkg.tar.zst