*
!.git
!.gitignore
!make.sh
!calamares
!calamares/**/*
!hyprland-config
!hyprland-config/**/*
!base
!base/**/*
!filesystem
!filesystem/**/*
!fakeroot
!fakeroot/**/*
!lsb-release
!lsb-release/**/*
!ckbcomp
!ckbcomp/**/*
*.pkg.tar.zst